{% extends 'base.html' %}

{% block contentNavBar %}
<a class="nav-link active" href="/">Home</a>
<a class="nav-link" href="team">Team</a>
<a class="nav-link" href="Introduction">Introduction</a>
<a class="nav-link" href="approach">Approach</a>
<a class="nav-link" href="insights">Insights</a>
<a class="nav-link" href="world">World</a>
<a class="nav-link" href="acknowledgement">Acknowledgement</a>
{% endblock %}

{% block content %}

  <main role="main" class="inner cover">
    <h4 class="cover-heading">TATA CONSULTANCY SERVICES <br>
      Analytics & Insights
      </h4>
    <h1 style="padding-top: 25px;">
      Data Brew and Data Jam <br>
Study of Consumerism in the aftermath of COVID19

    </h1>
    <p class="lead" style="padding-top: 30px;">
      The world has almost come to a halt in the past few months due to COVID-19. Is the world moving towards Post-Consumerism?<br>
Have a look at the interesting findings from our study!

    </p>
    <p class="lead">
      <a href="insights" class="btn btn-lg btn-secondary">Insights</a>
    </p>
  </main>
{% endblock %}


