{% extends 'base.html' %}

{%block contentHead%}
<script type= 'text/javascript' src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>        
{%endblock%}


{% block contentNavBar %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="team">Team</a>
<a class="nav-link" href="Introduction">Introduction</a>
<a class="nav-link" href="approach">Approach</a>
<a class="nav-link active" href="insights">Insights</a>
<a class="nav-link" href="takeaway">Takeaway</a>
<a class="nav-link" href="acknowledgement">Acknowledgement</a>
{% endblock %}

{% block content %}


<script src="{{url_for('static', filename='js/groupedBar.js')}}"></script>
<script src="{{url_for('static', filename='js/scoresBar.js')}}"></script>
<script src="{{url_for('static', filename='js/line.js')}}"></script>
<link href="{{url_for('static', filename='css/carousel.css')}}" rel="stylesheet">

<h4 style=" padding-top:2%">Exploration of Cluster Features</h4>

<!-- CLUSTER Carousel -->
<p>Plots below show the percentage distribution across each response per cluster. Values are grouped based on the response for comparison.</p>
  <div id="clusterCarousel" class="carousel slide" data-ride="carousel" data-interval="15000" style="border:1px solid black; margin: auto; width:60%; padding-top:2%">
      
    <div class="carousel-inner">
        {% for plot in paramsSmall %}
        {% if plot['documentID'] == "consumerism" %}
        <div class="carousel-item active" style="padding:0% 10%">
        {% else %}
        <div class="carousel-item" style="padding:0% 10%">
        {% endif %}
            <canvas id="{{plot['documentID']}}"></canvas>
            <!-- <div class="carousel-caption d-none d-md-block"> -->
                <h6>{{plot['title']}}</h6>
                <p>{{plot['text']}}</p>
              <!-- </div> -->
        </div>
        <script>plotGroupedBar({{plot|tojson}} ,"{{plot['documentID']}}")</script>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#clusterCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#clusterCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- Personal Interpretation -->
<div  style="margin:auto; width:75%; padding-top:4%">
    <canvas id="{{paramsBig['documentID']}}"></canvas>
    <script>plotGroupedBar({{paramsBig|tojson}} ,"{{paramsBig['documentID']}}","horizontalBar")</script>
    <h6>{{paramsBig['title']}}</h6>
    <p>{{paramsBig['text']}}</p>
</div>


<!-- SCORES Carousel -->
<h4 style=" padding-top:6%">Inferences</h4>
<p>Plots below show the average score across responses and clusters. Scores are grouped based on the response for comparison.</p>
    <br>
    <table class="table" style="width: 40%; margin:auto;">
        <thead>
          <tr>
            <th scope="col">Response</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Increased significantly / Strongly agree</td>
                <td>2</td>
            </tr>
            <tr>
                <td scope="row">Increased slightly / Lightly agree</td>
                <td>1</td>
            </tr>
            <tr>
                <td scope="row">Remain constant / Cannot say / Neither agree nor disagree</td>
                <td>0</td>
            </tr>
            <tr>
                <td scope="row">Decreased slightly / Lightly disagree</td>
                <td>-1</td>
            </tr>
            <tr>
                <td scope="row">Decreased significantly / Strongly disagree</td>
                <td>-2</td>
            </tr>
        </tbody>
      </table>
<div id="scoresCarousel" class="carousel slide" data-ride="carousel" data-interval="15000" style="border:1px solid black;margin: auto; width:60%;">
    <div class="carousel-inner">
        {% for plot in paramsScores %}
        {% if plot['documentID'] == "industry_scores" %}
        <div class="carousel-item active" style="padding:0% 10%">
        {% else %}
        <div class="carousel-item" style="padding:0% 10%">
        {% endif %}
            <canvas id="{{plot['documentID']}}"></canvas>
                <h6>{{plot['title']}}</h6>
                <p>{{plot['text']}}</p>
        </div>
        <script>plotScoresBar({{plot|tojson}} ,"{{plot['documentID']}}")</script>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#scoresCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#scoresCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- News Sentiment Line Charts -->
  <h4 style=" padding-top:4%">Industry Sentiment</h4>
  <p>Plots below show sentiment towards selected industry according to News articles from 17th May to 17th June 2020.</p>
<div style="border:1px solid black;margin: auto; width:60%; padding:1% 5%;">


    <select id="industryLine" onchange='plotLineChart({{paramsNews|tojson}},"newsSentiment");'>
        {% for i in range(11) %}
        <option id="" value={{i}}>{{paramsNews['datasets'][i]['label']}}</option>
        {% endfor %}
    </select>

    <canvas id="{{paramsNews['documentID']}}"></canvas>
    <script>plotLineChart({{paramsNews|tojson}},"newsSentiment")</script>
    <h6>Patterns</h6>
    <p>
        <li>Highly positive sentiment can be observed for Online Service Industry, Media and Entertainment Industry, Real Estate Industry</li>
        <li>Recent Positive sentiment can be observed in Consumer Apparel Industry and Technology Products</li>
        <li>Food and Staples Retail, Banking, Capital goods, Education and Insurance are highly fluctuating.</li>
        <li>Health Care shows positive trend from 1st June 2020</li>
    </p>
</div>


<!-- Anti Consumeristic Mindset -->
<div class="row justify-content-center align-items-center" style="padding-top: 6%;">
{% for plot in paramsStaticSmall %}
    <div class="card" style="width: 40%; ">
        <canvas id="{{plot['documentID']}}"></canvas>
        <div class="card-body">
            <h5 class="card-title">{{plot['title']}}</h5>
            <p class="card-text">
                {{plot['text']}}
            </p>
        </div>
    </div>
    <script>plotGroupedBar({{plot|tojson}} ,"{{plot['documentID']}}")</script>
{% endfor %}
</div>


<!-- World Trends -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{url_for('static', filename='js/world.js')}}"></script>

    <p style="padding-top: 4%;">
      The following visualization shows the count of tweets corresponding to each country that engage with post-consumerism. In a way, this provides the region-wise trend on post-consumerism.
    </p>

    <script>displayWorld({{worldData|tojson}})</script>
    
    <div id="regions_div" style="margin:auto; width:70%"></div>
    
    <p style="padding-top: 35px;">
      Listed below are 10 countries with highest engagement counts in real time.
    </p>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Engagement Count</th>
          </tr>
        </thead>
        <tbody>
            {% for i in range(1,11) %}
            <tr>
                <th scope="row">{{i}}</th>
                <td>{{worldData[i][0]}}</td>
                <td>{{worldData[i][1]}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>


{% endblock %}