{% extends 'base.html' %}

{% block contentNavBar %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="team">Team</a>
<a class="nav-link" href="Introduction">Introduction</a>
<a class="nav-link" href="approach">Approach</a>
<a class="nav-link" href="insights">Insights</a>
<a class="nav-link active" href="takeaway">Takeaway</a>
<a class="nav-link" href="acknowledgement">Acknowledgement</a>
{% endblock %}    

{% block content %}


    <div style="border:1px solid black; margin: auto; width:60%; padding-top:2%">
      <h1>Key Takeaways</h1><br>
      <li>Point1</li>
      <li>Point1</li>
      <li>Point1</li>
      <li>Point1</li>
      <li>Point1</li>
      <li>Point1</li>
    </div>
      

{% endblock %}


